<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example that shows off a responsive product landing page.">

  <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>


  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/red-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/green-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/light-blue-dark-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/blue-theme.css">
  <link rel="stylesheet" href="css/site.css">

</head>
<body ng-controller="MainCtrl">

<div layout="column" layout-fill>
  <md-toolbar md-theme="red" class="z-1">
    <div class="md-toolbar-tools">
      <span>Speedgun</span>
      <span flex></span>
      <md-button>
      </md-button>
    </div>
  </md-toolbar>
  <div class="main" layout=column layout-align="center center">
    <div class="masthead-container" layout=column layout-align="center center">
      <md-content class="masthead" layout="column" layout-align="center center">
        <form name="reportform" id="reportform" ng-submit="go(url)">
          <section layout="row" layout-align="center center">
            <p>ENTER A WEB ADDRESS</p>
          </section>
          <section layout="row" layout-align="center center" class="url-input-container">
            <md-card class="url-input">
              <input type="text" name="url" id="url" placeholder="http://www.whatever.com" ng-model="url" required autofocus/>
            </md-card>

            <md-button class="md-fab md-primary btn-go" aria-label="Go" ng-click="xgo(url)" style="width: 54px; height: 54px;">
              Go
            </md-button>
          </section>
          <div class="masthead-marketing">
            <section layout="row" layout-align="center center">
              <p>USED BY</p>
            </section>
            <section layout="row" layout-align="center center">
              <img src="images/marketing/desaturated/250w-cnn.png" class="logo">
              <img src="images/marketing/desaturated/250w-intel.png" class="logo">
            </section>
          </div>

          <!--<section layout="row" layout-sm="column" layout-align="center center">-->
          <!--<md-checkbox ng-model="isChecked" aria-label="Finished?" name="cachedCheckbox" id="cachedCheckbox" value="true">Cached ?</md-checkbox>-->
          <!--</section>-->
          <!--<section layout="row" layout-sm="column" layout-align="center center">-->
          <!--<md-text-float label="Your Email" class="long" ng-model="email" name="email" id="email"> </md-text-float>-->
          <!--</section>-->
        </form>
      </md-content>

    </div>
    <md-content class="results" ng-class="{visible: speedgun.length}">
      <md-card>
        <h4 class="subheader">{{speedgun[0].url.value}}</h4>
      </md-card>

      <div layout-sm="column">
        <card data="speedgun" property="pageLoadTime" suffix="ms"></card>
        <card data="speedgun" property="perceivedLoadTime" suffix="ms"></card>
        <card data="speedgun" property="pageProcessTime" suffix="ms"></card>
        <card data="speedgun" property="loadEventTime" suffix="ms"></card>
        <card data="speedgun" property="connectTime" suffix="ms"></card>
        <card data="speedgun" property="domContentTime" suffix="ms"></card>
        <card data="speedgun" property="responseTime" suffix="ms"></card>
        <card data="speedgun" property="domainLookupTime" suffix="ms"></card>
        <card data="speedgun" property="redirectTime" suffix="ms"></card>
        <card data="speedgun" property="DOMContentLoaded" suffix="ms"></card>
        <card data="speedgun" property="Load" suffix="ms"></card>
        <!--<card data="speedgun" property="connectEnd" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="connectStart" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="domComplete" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="domContentLoadedEventEnd" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="domContentLoadedEventStart" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="domInteractive" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="domLoading" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="domainLookupEnd" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="domainLookupStart" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="fetchStart" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="loadEventEnd" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="loadEventStart" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="navigationStart" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="redirectEnd" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="redirectStart" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="requestStart" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="responseEnd" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="responseStart" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="unloadEventEnd" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="unloadEventStart" suffix="ms" detail="secondary"></card>-->
        <!--<card data="speedgun" property="secureConnectionStart" suffix="ms" detail="secondary"></card>-->
      </div>
    </md-content>
    <md-content class="marketing">
      <section layout="row" layout-align="center center">
        <img src="images/marketing/desaturated/200w-adobe.png" class="logo logo-1">
        <img src="images/marketing/desaturated/200w-target.png" class="logo logo-1">
        <img src="images/marketing/desaturated/200w-nfl.png" class="logo logo-1">
        <img src="images/marketing/desaturated/200w-gsn.png" class="logo logo-1">
      </section>
      <section layout="row" layout-align="center center">
        <img src="images/marketing/desaturated/300w-microsoft.png" class="logo logo-2">
        <img src="images/marketing/desaturated/300w-huffington.png" class="logo logo-2">
        <img src="images/marketing/desaturated/300w-thomsonreuters.png" class="logo logo-2">
      </section>
      <section layout="row" layout-align="center center">
        <img src="images/marketing/desaturated/200w-groupon.png" class="logo logo-3">
        <img src="images/marketing/desaturated/200w-sapient.png" class="logo logo-3">
        <img src="images/marketing/desaturated/200w-salesforce.png" class="logo logo-3">
        <img src="images/marketing/desaturated/200w-htc.png" class="logo logo-3">
      </section>
    </md-content>
  </div>
</div>

<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>

<script src="speedgun.js"></script>

<script type="text/javascript" src="js/app.js"></script>

<!--<script type="text/javascript">-->

<!--var _gaq = _gaq || [];-->
<!--_gaq.push(['_setAccount', 'UA-1241000-11']);-->
<!--_gaq.push(['_setDomainName', 'wesleyhales.com']);-->
<!--_gaq.push(['_trackPageview']);-->

<!--(function () {-->
<!--var ga = document.createElement('script');-->
<!--ga.type = 'text/javascript';-->
<!--ga.async = true;-->
<!--ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
<!--var s = document.getElementsByTagName('script')[0];-->
<!--s.parentNode.insertBefore(ga, s);-->
<!--})();-->

<!--</script>-->


</body>
</html>
